 :root {
    --ivory: #EBEFEE;
    --beige: #CCB499;
    --clay: #C8906D;
    --tile-orange: #BB6C43;
    --cyan: #4F90A1;
    --shade: #4A413C;

    --border-radius-medium: 16px;
 }
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
body {
    margin: 0;
    background-color: var(--ivory);
}

nav {
    width: 75%;
    margin: 0 auto;
    z-index: 200;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding: 1.5rem;
    margin-right: 50px;
    }

li:hover {
/*     background-color: var(--shadow-grey); */
    text-decoration: 1px underline;
    text-underline-offset: 2px;
    color: white;
}

ul.horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--shade);
    box-shadow: 0px 4px 2px -2px rgb(93, 93, 93);
}

ul, menu, dir {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

a:link {
    text-decoration: none;
    color: var(--ivory);
}

p {
    color: var(--shade);;
    font-size: 1rem;
    margin-bottom: 5rem;
}
p#lisaa {
    margin-bottom: 300px;
    margin-top: 100px;
    text-align: center;
}


main p {
    color: var(--shade);
    position: relative;
    z-index: 500;
    margin-bottom: 1rem;
    margin-right: 5%;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid var(--spicy-paprika);
    color: aliceblue;
    float: left;
}

.clear { clear: both;}


main img {
    position: relative;
    float: left;
    width: 280px;
    margin: 2em 1em;
    border-radius: 1em;
/*     filter: drop-shadow(-5px 4px 2px var(--shade)); */
}

.restaurant_img {
    /* Shorter and sharper box shadow */
/*    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11); */
    margin-right: 40px;
    filter: grayscale(0%);
    z-index: 10;
}


main {
    position: relative;
    border: 1px solid var(--beige);
    border-radius: 8px;
    padding-left: 1em;
    width: 75%;
    margin: 1em auto;
    margin-bottom: 10rem;
    background-color: var(--ivory);
}

main::before {
    content: "";
    background-image: url("../images/food.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: top center;
    opacity: 0.3;
    z-index: 0;
    filter: brightness(0) invert(50%);
}

.burger {
    position: absolute;
    width: 150px;
    height: auto;
    top: -130px;
    left: 70%;
    transform: rotate(90deg);
    z-index: 1;
    filter: blur(0.25px) drop-shadow(4px 6px 2px var(--shade));
}
        
footer {
    background-color: var(--shade);
    height: 75px;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    box-sizing: border-box;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

a {
    color: white;
}
h2 {
    margin-top: 10px;
    color: var(--shade);
    z-index: 20;
}

h2::first-letter {
    font-size: 40px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

dialog {
    width: max-content;
    margin: 400px auto;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 16px;
}
dialog::backdrop {
    backdrop-filter: blur(10px) sepia(5%);
}        
button#open {
    display: block;
    font-size: 0.8em;
    text-align: center;
    margin: 50px auto;
    border-color: var(--shade);
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
button#open:hover {
    background-color: var(--shade);
    color: var(--ivory);
    border-color: var(--ivory);
}
form {
/*     border: 1px solid #d8d8d8; */
    width: max-content;
    padding: 16px;
    display: block;
/*     border-radius: 16px; */
}
dialog > div {
    margin: 1rem;
    border: 2px solid var(--beige);
    border-radius: var(--border-radius-medium);
    padding: 2em 1em;
}